/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
  background-color: #e5e5e5;
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 100px;
}

.container {
  max-width: 720px;
  margin: 30px auto;
  border: 5px solid #fff;
  border-radius: 20px;
}

.hero {
  width: 100%;
  height: 343px;
  background-image: url('images/bournemouth.jpg');
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-h1 {
  background-color: rgba(29, 53, 87, 0.7);
  width: 350px;
  margin: 0 auto;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 0 3px #000;
  border-radius: 5px;
}

.hero-h2 {
  background-color: rgba(69, 123, 157, 0.6);
  width: 500px;
  margin: 10px auto;
  padding: 10px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 3px #000;
  border-radius: 5px;
}

/* Activities section */
.active-container {
  background-color: #f1faee;
}

.activities {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.activ-img {
  border-radius: 50%;
}

.section {
  width: 300px;
}

.activitie-h3 {
  margin: 0;
  padding: 25px 0 15px 0;
}

/* Guide section */
.guide-section {
  width: 400px;
  height: 294px;
  margin: 50px auto;
  padding: 0 13px;
  background-color: #a8dadc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  box-shadow: 0px 6px 0px #1d3557;
}

.guide-img {
  width: 180px;
  height: 248px;
  border-radius: 10px;
}

.guide-txt {
  color: #1d3557;
}

.guide-txt-p {
  font-style: italic;
  font-weight: 600;
}

@media screen and (max-width: 550px) {
  .activities {
    flex-direction: column;
    align-items: center;
  }
  .section {
    width: 400px;
  }
  .hero-h2 {
    width: 480px;
  }
}
